// 
.pictures-grid {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media only screen and (max-width: 720px) {
    .pictures-grid {
        width: 100%;
        margin-left: 0;
    }
}