/* Importing font style */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "~bootstrap/scss/bootstrap";


/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

button, input {
  font-size: 16px !important;
}

.App {
  text-align: center;
}

#main-page-title {
  font-size: 60px ;
  font-weight: bold;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}

.page-description {
  margin: 50px;
  text-align: justify;
}

@media only screen and (max-width: 720px) {
  
  #main-page-title {
    font-size: 40px ;
  }
}